.radar{
    .radar-h3 {
        margin-top: 50px;
        }
    .radar-table {
        width: 1400px;
        margin: 0 50px 0 50px;
        }
    .radar-td {
        width: 50%;
        vertical-align: top;
        padding-right: 60px;
        }
    .row{
        text-align: center;
        vertical-align: middle;
        display: block;
        margin: auto;
    }
}
